:root{
    --deep-green: rgb(39, 95, 36);    
    --light-green: rgb(68, 146, 64);    
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-custom-green{
    background: var(--light-green) !important;
    color: white;
    border: none;
    outline: none;
}

.bg-custom-green{
    background: var(--deep-green) !important;
}
.bg-custom-dodgerblue{
    background-color: rgb(28, 78, 128) !important;
    background-color:dodgerblue !important;
}

.bg-custom-brown{
    background-color: rgb(128, 61, 61) !important;
}

.text-custom-green{
    color: var(--deep-green) !important;
}

.section-lead{
    font-weight: 800;
    font-size: 2rem;
}

ul{
    list-style: none;
}


.form-lead{
    font-size: 35px;
}