
/*  Page Styling */
.signup-form{
    background: black;
    overflow: hidden;
    position: relative;
    border: none;
}

/* Background Image Styling */

.signup-form img{
    height: 120vh;
    opacity: 0.4;
    object-fit: cover;
}

/* Page positioning */
.form-area{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

/* Input sizes */

@media (min-width: 900px){
    .signup-form input[type="password"],
    .signup-form input[type="emai"]{
        width: 300px;
    }
}
